@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    width: 100%;
    height:100%;
    display: flex;
    background: #242424;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display:flex;
    padding-top:20px;
    justify-content: center;
}

.nav-button {
    font-size:20px;
    color:rgb(255, 246, 82);
    padding:10px;
    margin: 10px;
    border-radius: 6px;
    background: #242424;
    box-shadow:  8px 8px 16px #191919,
                 -8px -8px 16px #292828;
   transition: all .3s ease-in-out;
}

.nav-button:hover{
    color:white;
}

.message{
    margin-left:10%;
}
.section{
    display:flex;
    flex-direction:row;
}

.intro{
   margin-left: 20%;
   margin-top:10%;
   width:35%;
   transition: all .5s ease-in-out;
   margin-bottom:10%
}

.intro:hover{
    transform: scale(110%);
}

h1{
    display:flex;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size:80px;
}

.highlight {
    color:rgb(255, 246, 82);
    font-weight: bolder;
    margin-left:10px
}

p {
    color:white;
    line-height:40px;
    font-size:20px
}

a{
    cursor: grab;
}

.timeline-container {
    align-content: center;
}

:root {
    --primary-color: #212121;
    --background-color: #212121;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: var(--background-color);
    display: flex;
    justify-content: center;
  }
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 800px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 30px 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 30px;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid rgb(255, 246, 82);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background: linear-gradient(145deg, #202020, #272727);
    box-shadow:  3px 3px 6px #1e1e1e,
                 -3px -3px 6px #2a2a2a;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: rgb(255, 246, 82);
    position: relative;
    font-size:30px;
    font-weight:bold;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid rgb(255, 246, 82);
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }


img{
    transition: all .3s ease-in-out;
}

img:hover{
    transform: scale(120%);
}

.event-img{
    display:flex;
    align-items: center;
    align-self:center;
    width:50%;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
}

/* modal box */

/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  input[type=message] {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  
  /* Set a style for all buttons */
  button {
    background-color: black;
    color:rgb(255, 246, 82);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: black;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  
  .container {
    padding: 16px;
     background: #242424;
     border-radius: 40px;
  }
  
  span.message{ 
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    color:rgb(255, 246, 82);
    font-weight:bold;
    font-size:20px;
    border-radius: 10px;
    border-radius: 10px;
    background: #242424;
    box-shadow:  8px 8px 16px #191919, -8px -8px 16px #292828;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:rgb(255, 246, 82);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


  